:root{
    --background: #333;
    --grey: #ccc;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wheel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    height: 100vh;
}

#spin-button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--grey);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}

#wheel{
    transition: transform 5s ease-in-out;
}